<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Synchronized Slider</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			// sending a connect request to the server.
			var socket = io.connect('http://localhost:5000');

			// An event handler for a change of value 
			$('#form').submit(function(event) {
				event.preventDefault();
				//window.history.back();
                socket.emit('message', {data: $('#fname').val()});
                return false;
            });

            socket.on('after connect', function(msg){
            	console.log('After connect', msg);
            });

            socket.on('update value', function(msg) {
            	console.log('Message received',msg);
               // $('#'+msg.who).val(msg.data);
            });
			$('#up').on('click',function(){
				console.log('right');
				socket.emit('message', 'up');
			});
			$('#left').on('click',function(){
				console.log('left');
				socket.emit('message','left');
			});
			$('#right').on('click',function(){
				console.log('right');
				socket.emit('message', 'right');
			});
			$('#down').on('click',function(){
				console.log('right');
				socket.emit('message', 'down');
			});
		});
		
	</script>
</head>
<body>
	<div class="container text-center">
		<h1 >Message</h1>
		<form class="mt-5" id="form">
		  <label for="fname">First name:</label><br>
		  <input class="sync" type="text" id="fname" name="fname"><br>
		  <input class="btn" type="submit" value="Submit">
		</form>	
		<button id="up">Up</button><br>
		<button id="left">Left</button>
		<button id="right">Right</button><br>
		<button id="down">Down</button>

	</div>
</body>
</html>